nav{
    height: 6vh;
}
.containerx{
    width: 100%;
    height: 84vh;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e6/Pet_Food_Aisle.jpg");
}
footer{
    height: 10vh;
}
.cardContainer{
    width: 80%;
    margin: 0 auto;
}

.cardDog, .cardCat{
    height: 36vh;
    width: 12vw;
    border: 1px solid black;
    background-color: white;
    border-radius: 30px;
}
.cats, .dogs{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2, h3{
    text-align: center;
    color: white;
}
img{
    height: 300px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
p{
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.lineThrough{
    color: red;
    text-decoration: line-through;
}
.green{
    color: green;
}